<!-- <p>contact works!</p> -->
<div class="m-5 text-aligment text-center text-white">
  <div class="container my-5">
    <h1 class="fw-bold">Kapcsolat</h1>
    <p>
      Ha bármilyen kérdése van, vagy kapcsolatba szeretne lépni velünk, forduljon hozzánk bizalommal. Csapatunk mindig
      örömmel segít bármilyen kérdésben vagy visszajelzésben. Akár termékeink iránt érdeklődik, ügyfélszolgálatra van szüksége, vagy csak szeretne üdvözölni minket, örömmel hallunk Önről!
    </p>
    <p>Az alábbi csatornákon érhet el minket:</p>

    <pre>
      Email: support&#64;anglarwebshop.com
      Telefon: +36 (123) 456-7890
      Irodánk címe: 123 Fő utca, Budapest, Magyarország
  </pre>
    <strong>Várjuk megkeresését!</strong>
  </div>
</div>
