<!-- <p>contact works!</p> -->
<div class="m-5 text-aligment text-center text-warning">
  <div class="container my-5">
    <h1 class="fw-bold">Contact</h1>
    <p>
      If you have any questions or would like to get in touch, feel free to reach out to us. Our team is always happy to
      assist you with any inquiries or feedback. Whether you're interested in our products, need customer support, or
      just want to say hello, we would love to hear from you!
    </p>
    <p>You can contact us through the following channels:</p>

    <pre>
    Email: support&#64;anglarwebshop.com
    Phone: +1 (123) 456-7890
    Visit our office: 123 Main Street, Budapest, Hungary
  </pre>
    <strong>We look forward to hearing from you!</strong>
  </div>
</div>
